<html>
    <script type="text/javascript" src="bkrender-fixed-plugin/js/android.js" id="#bkhead('bkjsHelper')" />
    <script type="text/javascript" id="#bkhead('bkFixedElementsInlineJS')">
        document.addEventListener(Bk.event.BK_PAGE_LOADED, applyHeaderFooterFixedLayout, false);
    </script> 
</html>
